LLM_PROVIDER=openrouter
LLM_MODEL=nvidia/nemotron-3-super-120b-a12b:free
OPENROUTER_MODEL_FAST=stepfun/step-3.5-flash:free
OPENROUTER_MODEL_SMART=nvidia/nemotron-3-super-120b-a12b:free

TAVILY_API_KEY=..........
OPENROUTER_API_KEY=.............
#OPENROUTER_API_KEY=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

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=ls......
LANGSMITH_PROJECT=job_seeker_agent



GMAIL_SENDER_EMAIL=chandanxyz@gmail.com
GMAIL_APP_PASSWORD=....
